$light-color: #fff;
$bg-color: #f1c40f;

body {
  font-family: 'Lato', sans-serif;
  background-color: $bg-color;

  header {
    position: relative;
    border: 1px solid transparent;

    h1 {
      color: $light-color;
      text-align: center;
      font-weight: 300;
      font-size: 2.6rem;
      margin: 1rem auto;
      background-color: $bg-color;
      position: relative;
      z-index: 2;
      width: 5em;
    }

    &::before {
      content: '';
      border: 1px solid $light-color;
      border-width: 0 0 1px 0;
      position: absolute;
      top: 2.3rem;
      left: 0;
      right: 0;
      margin-top: 0;
      z-index: 1;
    }
  }

  main {
    margin: 0 auto;

    @media (max-width: 479px) {
      width: 100%;

      .skill {
        width: 50%;

        p {
          display: none;
        }
      }
    }

    @media (min-width: 480px) and (max-width: 839px) {
      width: 480px;

      .skill {
        width: 50%;
      }
    }

    @media (min-width: 840px) and (max-width: 1199px) {
      width: 840px;

      .skill {
        width: 33%;
      }
    }

    @media (min-width: 1200px) {
      width: 1200px;

      .skill {
        width: 25%;
      }
    }


    .skill {
      float: left;
      padding: 15px;
      box-sizing: border-box;
      text-align: center;
      transition: all 0.3s ease-in;

      .skill-content {
        background-color: $light-color;
        padding: 15px;
        border-radius: 4px;

        img {
          height: 120px;
        }

        h2 {
          font-weight: 100;
          font-size: 1.2em;
          height: 2em;
        }

        p {
          font-weight: 300;
          font-size: 1em;
          height: 5em;
        }
      }
    }
  }
}
